{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissors</title>
    <link rel="icon" type="image/png" href="static/game/rps_icon.png">
    <link rel="stylesheet" href="static/game/RPS.css">
</head>
<body>
    <div class="home-container">
        <h1>ROCK PAPER SCISSOR</h1>
        <img src="static/img/rrrr.png" alt="Rock Paper Scissors" width="375" height="215">
        <a href="play/">
            <button>Start Game</button>
        </a>
        <a href="leaderboard/">
            <button>View Leaderboard</button>
        </a>
    </div>
</body>
</html>